.faq-container{
    /* background: url('../images/faq-bg.jpg') no-repeat;
    background-size: cover; */
    background-position: center center;
    background-attachment: fixed;
    
}

.faq-accordion{
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-accordion h2{
    color: #fff;
    font-size: 30px;
  }
  
  .faq-item{
    margin-bottom: 10px;
    border: 1px solid #8e4ef6;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-item-header{
    background-color: #818dc3;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .faq-item-header:hover{
    background-color: #312c83;
  }
  
  .faq-item-body{
    background-color: #fff;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .faq-item-body-content{
    padding: 15px;
    color: #555;
  }
  
  .faq-item.active .faq-item-body{
    max-height: 300px;
    font-size: 130%;
  }